<div class="text">
<h1> Revise Transaction.</h1>
</div>
<div class="edit_buttons">
<%= simple_form_for @money, method: :patch do |f| %>
<%= f.input :title %>
<%= f.input :amount %>
<%= f.submit 'Update Record', class: 'btn btn-primary' %>
<% end %>
	
</div>