<nav>
		<nav class="navbar navbar-inverse">
 	<div class="container-fluid">
   			<div class="navbar-header">
      		 <%= link_to 'Wallet', root_path %>
    		</div>

 	<div class="button">
 	<ul>
 		<li> <%= link_to 'Add Record', new_money_path, class: 'btn btn-primary'%></li>
 		</ul>
 	</div>
   			
	</div>


 	
 
 </nav>


