$primary-font:'Ubuntu', sans-serif;
$secondary-font:'PT Sans', sans-serif;

.navbar-brand {
 font-family:'PT Sans', sans-serif;
 font-weight: bold;
 letter-spacing: 2px;
 font-size:25px;
 }

 .navbar-inverse .navbar-brand {
 color:white;
 }

.btn {
font-family: 'Ubuntu', sans-serif;
font-weight: bold;
font-size: 15px;
}

/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -45px;
  /* Pad bottom by footer height */
  padding: 0 0 45px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 45px;
 }

 p{
 font-weight: bold;
 }