$primary-font:'Ubuntu', sans-serif;
$secondary-font:'PT Sans', sans-serif;

.navbar-header {
 font-family:'PT Sans', sans-serif;
 font-weight: bold;
 letter-spacing: 2px;
 font-size:25px;
 padding-top: 5px;
 }

 .navbar-header a{
 text-decoration: none;
 color: white;
 }

 .navbar-inverse .navbar-brand {
 color:white;
 padding-top: 5px;
 }

.btn {
font-family: 'Ubuntu', sans-serif;
font-weight: bold;
font-size: 15px;
}

.btn-primary{
  float:right;
}

/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -45px;
  /* Pad bottom by footer height */
  padding: 0 0 45px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 45px;
 }

 p{
 font-weight: bold;
 }

td{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	

}
kbd{
	color:white;
}

.container-fluid{
padding-top: 5px;
  
}

/* Add Money Page */

textarea.form-control {
width: 500px;
float: center;
}

.form-control {
width: 500px;
}

.add_button .btn-primary{
  float: left;
  margin-left: 725px;

}

.form-group {
margin-left: 300px;
}


.edit_buttons .btn-primary{
      margin-right: 340px;
}

div.text h1{
  margin-left:400px;
}

