
  <table class="table">
 
  <tr>
  <th>Title </th>
  <th>  Amount</th>
  </tr>

      <% @wallet.each do |wallet| %>
  <tr> 

  <td> <%= wallet.description %> </td>
  <td>	<kbd><%=wallet.amount %> 	</kbd>	</td>
  <td> <button type="button" class="btn btn-primary">	Edit	</button></td>
  <td> <button type="button" class="btn btn-danger">	Delete	</button></td>
<% end %> 
 </table>
</div>


